In [46]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
gamesdf = pd.read_csv(file_to_load)

In [47]:
#calculate number of players
gamesdf
total_users = {'Total Players' : [gamesdf['SN'].nunique()]}
total_users_disp = pd.DataFrame(total_users)
total_users_disp

   Total Players
0            576

In [48]:
### Purchasing Analysis (Total)
print(gamesdf.dtypes)
description = gamesdf.describe()
description

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [59]:
#Number of Unique Items
unq_items = gamesdf['Item Name'].nunique()
unq_items

179

In [56]:
#avg_price
avg_price = gamesdf["Price"].round(3).mean()
avg_price

3.050987179487176

In [57]:
#Total Number of Purchases
Total_purch = len(gamesdf["Purchase ID"])
Total_purch

780

In [53]:
#Total Revenue
Revenue = gamesdf['Price'].sum()
Revenue

2379.77

In [62]:
PurchAnalysis_Summary = pd.DataFrame(
{"Number of Unique Items" : [unq_items],
"Average Purchase Price" : [avg_price],
"Total number of Purchases" : [Total_purch], "Total Revenue" : [Revenue]},
index = [1])

In [63]:
PurchAnalysis_Summary

,Number of Unique Items,Average Purchase Price,Total number of Purchases,Total Revenue
1,179,3.050987,780,2379.77

In [64]:
### Gender Demographics

#First remove duplicates based on the total unique users
uniques = gamesdf.drop_duplicates(subset='SN', keep="first")
uniques.head(20)
#check your new df to make sure its changed
describe = uniques.describe()
describe

       Purchase ID         Age     Item ID       Price
count   576.000000  576.000000  576.000000  576.000000
mean    350.331597   22.741319   92.951389    3.070573
std     222.226127    6.838568   53.992763    1.164585
min       0.000000    7.000000    0.000000    1.000000
25%     158.750000   19.000000   46.000000    1.980000
50%     336.500000   22.000000   93.000000    3.160000
75%     529.250000   25.000000  142.250000    4.102500
max     778.000000   45.000000  183.000000    4.990000

In [69]:
#Then calculate the gender stats

# First Create a group based on the unique values in the 'gender' column
playa_gender = uniques.groupby(by = "Gender")
# then Count how many times each gender appears in the data
count_gender = playa_gender["Gender"].count()
count_gender

Gamegenders = pd.DataFrame(count_gender)
Gamegenders

                       Gender
Gender
Female                     81
Male                      484
Other / Non-Disclosed      11

In [70]:
#An easier way to get the percentage of all genders at once
gender_percent = count_gender / 576 * 100
gender_percent = gender_percent.round(2)
gender_percent

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [71]:
#join both tables to make a new dataframe
Genderdemo_df = Gamegenders.join(gender_percent, lsuffix='_Count', rsuffix='_Percent')
Genderdemo_df

                       Gender_Count  Gender_Percent
Gender
Female                           81           14.06
Male                            484           84.03
Other / Non-Disclosed            11            1.91

In [74]:
### Purchasing Analysis (Gender)
#First group whole df by gender
all_gender = gamesdf.groupby(by = "Gender")
all_gender.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40

In [75]:
#Purchase Count calculate all purchases based on gender group duplicates included
Buycount_gender = all_gender["Gender"].count()
Buycount_gender
Gender_purchase_df = pd.DataFrame({"Purchase Count" : Buycount_gender})

In [76]:
# Total Purchase Value break down total purchase by gender
BuyRevenue_gender = all_gender['Price'].sum()
BuyRevenue_gender =BuyRevenue_gender.round(2)
BuyRevenue_gender_df = pd.DataFrame({"Total Purchase" :BuyRevenue_gender})

In [77]:
# Average Purchase Price  total purchase divided by the counts
Buyavg_gender = all_gender["Price"].mean()
Buyavg_gender = Buyavg_gender.round(2)
Buyavg_gender_df = pd.DataFrame({"Average Purchase Price" : Buyavg_gender})

In [78]:
# Average Purchase Total per Person by Gender
averageper_person = BuyRevenue_gender / count_gender
averageper_person = averageper_person.round(2)
averageper_person_df = pd.DataFrame({"Average per Person" : averageper_person})

In [83]:
#join all the dataframes together
Genderpurch_df = Gender_purchase_df.join(BuyRevenue_gender_df)
Genderpurchb_df = Buyavg_gender_df.join(averageper_person_df)
GendPurch_table = Genderpurch_df.join(Genderpurchb_df)

#add dollar signs
GendPurch_table["Total Purchase"] = '$' + GendPurch_table["Total Purchase"].astype(str) 
GendPurch_table["Average Purchase Price"] = '$' + GendPurch_table["Average Purchase Price"].astype(str) 
GendPurch_table["Average per Person"] = '$' + GendPurch_table["Average per Person"].astype(str)


#display your table
GendPurch_table

,Purchase Count,Total Purchase,Average Purchase Price,Average per Person
Gender,,,,
Female,113,$361.94,$3.2,$4.47
Male,652,$1967.64,$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

In [84]:
print(gamesdf["Age"].max())

45

In [85]:
### Age Demographics
# Figure out the minimum and maximum ages for the gamers
print(gamesdf["Age"].max())
print(gamesdf["Age"].min())


# Create bins in which to place values based upon TED Talk views
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Slice the data and place it into bins then add the series into a new column inside of the DataFrame
gamesdf["Age-Group"] = pd.cut(gamesdf["Age"], bins, labels=group_labels)
gamesdf.head()

45
7

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age-Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [88]:
#now repeat everything from the purchasing analysis by gender, but do it by age
agegrouping = gamesdf.groupby(by = "Age-Group")
agegrouping.head()

#get unige ages in the group
uniques2 = uniques
uniques2["Age-Group"] = pd.cut(uniques2["Age"], bins, labels=group_labels)
#group them by age
playa_age = uniques2.groupby(by = "Age-Group")
count_age = playa_age["Age-Group"].count()
count_age

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

Age-Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age-Group, dtype: int64

In [90]:
#Purchase Count calculate all purchases based on gender group duplicates included
Buycount_age= agegrouping["Age-Group"].count()
Buycount_age
Age_purchase_df = pd.DataFrame({"Purchase Count" : Buycount_age})

# Total Purchase Value break down total purchase by age group
BuyRevenue_age = agegrouping["Price"].sum()
BuyRevenue_age =BuyRevenue_age.round(2)
BuyRevenue_age_df = pd.DataFrame({"Total Purchase" : BuyRevenue_age})

# Average Purchase Price  total purchase divided by the counts by age group
Buyavg_age = agegrouping["Price"].mean()
Buyavg_age = Buyavg_age.round(2)
Buyavg_age_df = pd.DataFrame({"Average Purchase Price" : Buyavg_age})

# Average Purchase Total per Person by age group

averageper_age = BuyRevenue_age / count_age
averageper_age = averageper_age.round(2)
averageper_age_df = pd.DataFrame({"Average per Age group" : averageper_age})

In [91]:
#join all the dataframes together
Agepurch_df = Age_purchase_df.join(BuyRevenue_age_df)
Agepurchb_df = Buyavg_age_df.join(averageper_age_df)
AgePurch_table = Agepurch_df.join(Agepurchb_df)

AgePurch_table["Total Purchase"] = '$' + AgePurch_table["Total Purchase"].astype(str) 
AgePurch_table["Average Purchase Price"] = '$' + AgePurch_table["Average Purchase Price"].astype(str) 
AgePurch_table["Average per Age group"] = '$' + AgePurch_table["Average per Age group"].astype(str)

AgePurch_table

,Purchase Count,Total Purchase,Average Purchase Price,Average per Age group
Age-Group,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,$1114.06,$3.05,$4.32
25-29,101,$293.0,$2.9,$3.81
30-34,73,$214.0,$2.93,$4.12
35-39,41,$147.67,$3.6,$4.76
40+,13,$38.24,$2.94,$3.19

In [95]:
### Top Spenders

 #Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

 # First Create a group based on the unique values in the 'SN users' column 
playas = gamesdf.groupby(by = "SN")
playas.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age-Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [96]:
#Purchase Count calculate all purchases based on SN of the players 
count_playas = playas["Purchase ID"].count()
count_playasdf = pd.DataFrame({"Player Counts" : count_playas})

In [97]:
#Average Purchase Price 
Buyavg_playas = playas["Price"].mean()
Buyavg_playas = Buyavg_playas.round(2)
Buyavg_playas_df = pd.DataFrame({"Average Purchase Price" : Buyavg_playas})

In [98]:

# Total Purchase Value break down total purchase by players
Revenue_playas = playas['Price'].sum()
Revenue_playas = Revenue_playas.round(2)
Revenue_playas_df = pd.DataFrame({"Total Purchase" : Revenue_playas})

In [100]:
#join the data into a DF and add dollar signs
Playasdata_df = count_playasdf.join(Buyavg_playas_df)
Playasdata2_df = Playasdata_df.join(Revenue_playas_df)

#sort and select only the top 5
sorted_playas = Playasdata2_df.sort_values('Total Purchase',ascending=False)
Topspenders_df = sorted_playas.head(5)

#add dollar signs after the sort
Topspenders_df["Total Purchase"] = '$' + Topspenders_df["Total Purchase"].astype(str) 
Topspenders_df["Average Purchase Price"] = '$' + Topspenders_df["Average Purchase Price"].astype(str) 
Topspenders_df

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

             Player Counts Average Purchase Price Total Purchase
SN
Lisosia93                5                  $3.79         $18.96
Idastidru52              4                  $3.86         $15.45
Chamjask73               3                  $4.61         $13.83
Iral74                   4                   $3.4         $13.62
Iskadarya95              3                  $4.37          $13.1

In [104]:
### Most Popular Items
#do the groupby function
pop_items = gamesdf.groupby(["Item ID", "Item Name"]) 
pop_items.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age-Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
30,30,Idai61,19,Male,140,Striker,2.94,15-19
...,...,...,...,...,...,...,...,...
306,306,Mindilsa34,24,Female,38,"The Void, Vengeance of Dark Magic",2.37,20-24
318,318,Iskadarya95,20,Male,91,Celeste,4.17,20-24
321,321,Undjaskla97,33,Male,118,"Ghost Reaver, Longsword of Magic",2.17,30-34
335,335,Undimsya85,33,Male,67,"Celeste, Incarnation of the Corrupted",3.46,30-34
336,336,Phaedue89,22,Female,45,Glinting Glass Edge,3.85,20-24
343,343,Chadilsasta32,23,Male,49,"The Oculus, Token of Lost Worlds",2.96,20-24
346,346,Saedaiphos46,18,Male,121,Massacre,1.60,15-19
352,352,Ilarin91,22,Male,79,"Alpha, Oath of Zeal",4.05,20-24
360,360,Ali84,29,Male,14,Possessed Core,2.61,25-29
365,365,Tyaedainu44,25,Male,43,Foul Edge,3.54,25-29
366,366,Hirirap39,22,Male,31,Trickster,1.55,20-24
372,372,Saistyphos30,35,Male,64,Fusion Pummel,4.82,35-39
412,412,Lisiriya82,32,Male,86,Stormfury Lantern,2.27,30-34
413,413,Siana77,12,Male,93,Apocalyptic Battlescythe,1.97,10-14
421,421,Yadaphos40,30,Male,26,Unholy Wand,1.12,30-34
451,451,Eudanu32,15,Female,122,Unending Tyranny,2.85,15-19
457,457,Eulae84,25,Male,61,Ragnarok,3.87,25-29
463,463,Frichadaran88,25,Male,48,"Rage, Legacy of the Lone Victor",2.48,25-29
466,466,Undare39,23,Male,112,Worldbreaker,2.60,20-24
525,525,Lirtimst73,24,Male,126,Exiled Mithril Longsword,2.00,20-24
584,584,Aelin32,20,Male,115,Spectral Diamond Doomblade,2.04,20-24
595,595,Yathedeu43,22,Male,55,Vindictive Glass Edge,2.27,20-24
608,608,Leyirra83,24,Female,132,Persuasion,3.33,20-24
642,642,Chamadarsda63,23,Male,127,"Heartseeker, Reaver of Souls",3.92,20-24
664,664,Chamistast30,31,Male,47,"Alpha, Reach of Ending Hope",3.58,30-34
673,673,Idacal95,30,Male,130,Alpha,2.07,30-34
700,700,Chanosia60,31,Male,90,Betrayer,2.94,30-34
717,717,Chanilsast61,30,Male,177,"Winterthorn, Defender of Shifting Worlds",2.08,30-34
727,727,Yathecal82,20,Female,104,Gladiator's Glaive,1.93,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14

In [102]:
#Purchase Count calculate all purchases based on SN of the players 
Items_count = pop_items["Item ID"].count()
Items_countdf = pd.DataFrame({"Purchase Counts" : Items_count})

# Item Price
Items_Price = pop_items["Price"].mean()
Items_Price = Items_Price.round(2)
Items_Price_df = pd.DataFrame({"Items Price" : Items_Price})

# Total Purchase Value
Item_total = pop_items['Price'].sum()
Item_total = Item_total.round(2)
Item_total_df = pd.DataFrame({"Total Purchase" : Item_total})

In [103]:
#join the data into a DF 
Popularitemsdata_df = Items_countdf.join(Items_Price_df)
Popularitemsdata2_df = Popularitemsdata_df.join(Item_total_df)

#sort and select only the top 5
Popular_itemsdf = Popularitemsdata2_df.sort_values('Purchase Counts',ascending=False)

#add dollar signs after the sort
Popular_itemsdf["Total Purchase"] = '$' + Popular_itemsdf["Total Purchase"].astype(str) 
Popular_itemsdf["Items Price"] = '$' + Popular_itemsdf["Items Price"].astype(str) 
Popular_itemsdf.head(5)

,,Purchase Counts,Items Price,Total Purchase
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.9,$44.1
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [105]:
### Most Profitable Items
Profitable_itemsdf = Popularitemsdata2_df.sort_values("Total Purchase",ascending=False)
Profitable_itemsdf["Total Purchase"] = '$' + Profitable_itemsdf["Total Purchase"].astype(str) 
Profitable_itemsdf["Items Price"] = '$' + Profitable_itemsdf["Items Price"].astype(str) 
Profitable_itemsdf.head(5)

,,Purchase Counts,Items Price,Total Purchase
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.8

Three observable trends based on the data.

The game Oathbreaker was both the most profitable and most purchased game in the group. The player Lisosia93 spent the most money on games of all the players, even though he does not fall into the age group with the highest total purchase.
He does fall into the gender category of most players, as the highest percentage of players are male.